@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Protest Strike', sans-serif;
}

body{
    box-sizing: border-box;
    /*background-color: #E5E5E5;*/
    background: linear-gradient(#020024 0%, #fafaf6 33.33%, #0A3871 66.67%, #01080E 100%);    
    color: #0A3871;
}

.cabecalho{
    padding: 15px 0;
}

.titulo{
    font-size: 1.3rem;
    margin: 0% 2%;
    text-align: start;
}

.container{
    padding: 0% 10%;
    display: flex;
    gap: 30px;
}

.areaTexto{
    width: 60%;
    display: flex;
    justify-content: end;
    flex-direction: column;
    
}

.containerBotao{
    padding: 2% 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

button{
    border: 1px solid #0A3871;
    color: #0A3871;
    border-radius: 10px;
    padding: 3% 5%;
    cursor: pointer;
}


.areaResultado{
    background-color: #FFFFFF;
    border-radius: 20px;
    width: 40%;
    height: 450px;
    padding: 3%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    gap: 60px;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto; 
    
     
}

#resultado{
    font-size: 30px;
}

.inputs{
    height: 8rem;
    width: 95%;
    display: flex;    
    background-color: #E5E5E5;
    border-radius: 20px;
    color: #0A3871;
	border: hidden;
    outline: none;
    font-size: 30px;
    padding: 2% 2%;
    word-wrap: break-word;    
    overflow-x: hidden;
    overflow-y: auto;     
}

.destaqueTexto{
    font-weight: bold;
    font-size: 20px;
    padding: 2% 0;
}

.resultadoImagem{
    width: 65%;
}

.areaTextoAviso{
    font-size: 16px;
    color: #495057;
}

.rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    margin-top: 15px;
    background: #b3b3b3;
    color: #0d085a;
}

.rodape h3{
    font-size: 1.2rem;
}
button:hover{
    background-color: #8a8a8a;
    transition: 0.5s all;
}

@media (max-width: 768px) {
    .container{
        flex-direction: column;
    }

    .areaTexto{
        width: auto;
    }

    .areaResultado{
        width: auto;
        height: auto;
    }

    .resultadoImagem{
        display: none;
    }

}

@media (max-width: 375px) {
    .containerBotao{
        flex-direction: column;
     
        
    }

}

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    width: 10%;
    text-align: center;
    border-radius: 8px;
    padding: 5px 0;
    text-decoration: none;
    color: #ffffff;


}
.linksNavegacao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    width: 40%;
    text-align: center;
    border-radius: 8px;
    padding: 5px 0;
    text-decoration: none;
    color: #ffffff;


}

.linksNavegacao:hover{
    background-color: #8a8a8a;
    transition: 0.5s all;

}